[Unit]
Description=Avian Acoustic Monitoring Recorder
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/birdpi/avian-acoustic-monitoring
ExecStart=/home/birdpi/avian-acoustic-monitoring/scripts/run_recorder.sh