[Unit]
Description=Avian Acoustic Monitoring Recorder

[Service]
Type=oneshot
WorkingDirectory=/home/birdpi/avian-acoustic-monitoring
ExecStart=/usr/bin/docker compose run --rm recorder